      <%# We added "class= "postion in pe(erb) tag" to trigger it in
      chatrooms/show.html.erb  %>
      <div id="message-<%= message.id %>" class="<%= position %> " >
        <small>
          <strong><%= message.user.nickname %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
