<div class="container-registration">
  <%= image_tag "couple.png", :class => "medium-logo" %>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nickname,
                required: true,
                autofocus: true,
                label: 'Nickname',
                wrapper: :input_group,
                input_html: { autocomplete: "nickname" }%>
    <%= f.input :email,
                required: true,
                wrapper: :input_group,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                wrapper: :input_group,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :age,
                required: true,
                wrapper: :input_group,
                input_html: { autocomplete: "age" } %>
    <%= f.input :preferred_date_ideas,
                required: true,
                wrapper: :input_group,
                input_html: { autocomplete: "preferred_date_ideas" } %>
    <%= f.input :gender, collection: [["male", "male"], ["female","female"], ["non-binary","non-binary"], ["prefer not to say", "prefer not to say"]],
                as: :select,
                wrapper: :input_group,
                label: 'gender' %>

    <%= f.input :orientation, collection: %w(heterosexual gay bisexual),
                wrapper: :input_group,
                label: 'orientation' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Let's Go!", class: "btn btn-flat btn-sign-up", id: "pink" %>
  </div>
<% end %>

