
<div class="container chatroom" id="killpadding-top"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <h1><%= @chatroom.user_a.nickname.capitalize %></h1>

  <div class="messages"

   data-chatroom-subscription-target="messages"
   data-chatroom-subscription-target="form">
    <% @chatroom.messages.each do |message| %>
    <% if message.user == current_user %>
   <%# here we used if else statement to position messages. If current_user
   then right, else left %> <%# see comments also in message/_messages.html.erb %>
      <%= render "messages/message", message: message, position: "right" %>
    <% else %>
      <%= render "messages/message", message: message, position: "left" %>
    <% end %>
    <% end %>
    <%# it is also necessary to add css parameters in app/assets/
    stylsheets/components/ _chtrooms.scss. .right->p text-align: right;
     and .left triggering -> p text-align: left;  %>

</div>

  <%= simple_form_for [@chatroom, @message],
    remote: true,
    html: {class: "d-flex"} do |f|%>
    <%= f.input :content, remote: :true,
      label: false,
      placeholder: "enter your message",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "↑", class: "submitbutton" %>
  <% end %>
</div>
