<div class="index-container">
  <div class="row">
    <% @users.each do |user| %>
     <%= link_to user do %>
      <div class="card-product">
        <div class="container-card-image">
          <%= cl_image_tag user.photo.key, height: 300, width: 400, crop: :fill%>
        </div>
        <div class="card-containter">
          <div class="card-product-infos">
            <h4><%= user.nickname.capitalize %></h4>
            <p><%= user.age %></p>

          </div>
          <div class="card-product-infos">
          <%= link_to "poke", chatrooms_path(user_a_id: user.id), class: "btn btn-flat btn-sign-up", id: "poke", method: :create %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
