
<% content_for :meta_title, "#{@user.nickname} is on #{DEFAULT_META["meta_product_name"]}" %>
<%= cl_image_tag("your_image_public_id", cloud_name: "your_cloud_name") %>
<div class="banner"  style="background-image: linear-gradient(rgba(254, 31, 78, 0.2), rgba(0,0,1,1)), url(<%= cl_image_path(@user.photo.key) %>)">
<div class="home">
    <div class="container user-padding">
      <h1><%= @user.nickname.capitalize %></h1>
      <p><strong><%= @user.about_me %></strong></p>
      <p id="zodiac-gender"><em><%= @user.zodiac %><br><strong>Orientation: </strong><%= @user.orientation %>, <%= @user.gender %></em></p>
      <% if @user == current_user %>
        <%= link_to "sign out", destroy_user_session_path, class: "btn btn-flat btn-sign-up", id: "sign-out", method: :delete %>
      <% else %>
        <%= link_to "poke", chatrooms_path(user_a_id: @user.id), class: "btn btn-flat btn-sign-up", id: "poke-show", method: :create %>
      <% end  %>
    </div>
  </div>
</div>
