        <div class="user-card-title">
          <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %><h2><%= @user.nickname %></h2>
            <p><%= @user.orientation %></p>
            <p><%= @user.age %></p>
          <%= link_to "Back", :back %>
        <a class="btn btn-flat" href="#">Poke</a>
