<div class="home">
  <div class="container" id="home-page-container">
  <%= image_tag "couple.png", :class => "large-logo" %> 
  <h1>Blind8</h1>
  <p>Dating goes blind</p>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  wrapper: :input_group,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  wrapper: :input_group,
                  input_html: { autocomplete: "current-password" } %>
      <div id="remember_me">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable?%>
       </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "btn btn-flat btn-sign-up", id: "pink" %>
      <%# <%= f.button :submit, "Sign up", class: "btn btn-flat btn-sign-up", id: "black"%> 
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-flat btn-sign-up", id: "black"  %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>